.dds-learning-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dds-learning-body {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
}

.dds-learning-sidebar-wrapper {
  flex: 0 0 auto;
  align-self: stretch;
  background-color: #f5f5f5;
}

.dds-learning-content {
  flex: 1;
  padding: 2rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dds-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dds-learning-chapter__title {
  font-weight: 600;
  padding: 8px 16px 4px;
  font-size: 0.85rem;
  color: var(--dds-color-gray-70);
}
